html {
    background: #018DED url("image/image.jpg");
    background-size: cover;
    text-align: center;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
  }



.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 
    0 0 0px 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2)
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateY(-3px);
}

.hand {
    width: 50%;
    height: 4%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: black;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

